

    <div class="super-container">
      <%= image_tag "Coffre.png", height: 800 %>
      <%= cl_image_tag(@collections.first.photos[1].key, height: 130, style: "position: absolute; top: 80px; left: 200px; margin: 90px;") %>
      <%= link_to "Retour à la carte", party_path(current_user), class:"btn btn-primary my-button", style: "position: absolute; top: 60px; left: 150px; margin: 50px;" %>
    </div>

 <ul>
  <% @collections.each do |collection| %>
    <li><%= collection.nickname %></li>
  <% end %>
 </ul>
