<body class="background" style="height: 100 vh">
<%# créer le personnage %>
<%# bouton à destination de l'accueil %>
<%# fin bouton à destination de l'accueil %>

<!-- Modal création du personnage-->
<div class="modal fade show d-block mt-5" id="createcharacter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-ku">
    <div class="modal-content content-character">

      <div class="modal-body body-character">
        <div class="character-info">
        <h1 class="name-character">Leo l'intrépide</h1>
        <div class="personnality">
        <p> <i class="fa-solid fa-square-check"></i> Capable de produire un rugissement terrifiant</p>
        <p> <i class="fa-solid fa-square-check"></i> Capable de rouler et de combattre pendant de longues périodes sans se fatiguer</p>
        </div>
        </div>
        <div class="character">
          <div id="carouselExampleFade" class="carousel slide carousel-fade">
              <div class="carousel-inner">
                <div class="carousel-item active" class="row justify-content-center">
                <%= image_tag "Ours.png", height:450, class: 'd-block mx-auto' %>
                </div>
                <div class="carousel-item">
                <%= image_tag "Rabbit.png", height:450, class: 'd-block mx-auto' %>
                </div>
                <div class="carousel-item">
                <%= image_tag "Rati.png", height:450, class: 'd-block mx-auto' %>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
        </div>
      <div class="fix-footer">
       <%= link_to "Valider", new_party_path, class:"btn btn-primary my-button" %>
      </div>
    </div>
    </div>
  </div>
</div>
</body>
