<body class="background" style="100 vh">
  <div class="container">
    <div class="card-classement">
    <div class="inside-card">
      <div >
          <h2>Classement des parties</h2>
            <ul>
              <li>Partie n°1 <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><p> 9 minutes </p></li>
              <li>Partie n°2 <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i><p> 7 minutes </p></li>
              <li>Partie n°3 <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><p> 5 minutes </p></li>
            </ul>
            <a class="btn btn-flat button-classement" href="#">Book now</a>
            <button id="retryBtn" type="button"  class="modalBtn" data-bs-dismiss="modal">Play !</button>
      </div>
    </div>
    </div>

  </div>
</body>
