<body class="background" style="100 vh">
  <div class="super-container">
    <div class="card-classement">
      <div class="inside-card">
          <h2 class="my-3">Classement des parties</h2>
        <div>
          <ul class="mt-5">
            <li>Partie n°1 <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><p> 9 minutes </p></li>
            <li>Partie n°2 <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i><p> 7 minutes </p></li>
            <li>Partie n°3 <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><p> 5 minutes </p></li>
          </ul>
          <div id="partiesBtn">
            <%# <button id="green" type="button"  class="modalBtn" data-bs-dismiss="modal">Play !</button> %>
            <%= link_to "Jouer !", "#", class: "modalBtn green" %>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
