  <div class="container">
      <div id="parties-content">
          <div class="parties-body">
              <div style="height: 100%; width: 100%; position: relative;">
                <%= link_to "Ma collection", "#", class: "modalBtn green", style: "position: absolute; top: 0; left: 0; margin: 50px 50px;" %>
                <%= image_tag "lina.png", height: "auto", width: 200, class: "avatar-parties" %>
                <div class="statistics-window">

                </div>
              </div>
              <div class="playmodal-footer" style="height: 100%">
                <%# <button id="green" type="button"  class="modalBtn" data-bs-dismiss="modal">Play !</button> %>
                <%= link_to "Jouer !", "#", class: "modalBtn green", style: "position: absolute; bottom: 0; margin-bottom: 50px;" %>
              </div>
            </div>
    </div>
  </div>
