<body class="background" style="100 vh">
  <%# <div class="container">
    <div class="card-classement">
    <div class="inside-card">
      <div >
          <h2>Classement des parties</h2>
            <ul>
              <li>Partie n°1 <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><p> 9 minutes </p></li>
              <li>Partie n°2 <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i><i class="fa-regular fa-star"></i><p> 7 minutes </p></li>
              <li>Partie n°3 <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><p> 5 minutes </p></li>
            </ul>
            <button id="retryBtn" type="button"  class="modalBtn" data-bs-dismiss="modal">Play !</button>
      </div>
    </div>
    </div> %>
<%#
  </div> %>

  <div class="flag-div">
      <%= image_tag "Drapeau rouge.png", width: 90, class: "drapeau-position-1" %>
      <%= image_tag "Drapeau rouge.png", width: 90, class: "drapeau-position-2" %>
      <%= image_tag "Drapeau rouge.png", width: 90, class: "drapeau-position-3" %>
      <%= image_tag "Drapeau rouge.png", width: 90, class: "drapeau-position-4" %>

  </div>
</body>
