<div class="background-2">
    <div class="rampe">
      <%= image_tag 'Rampe.png', class: "rampe-image" %>
      <% @user_levels.joins(:level).order(:number).each.with_index(1) do |user_level, index| %>
       <div class="drapeau-<%= index %>">
       <% if user_level.done || user_level.id == current_user.current_level.id%>
        <%= link_to "niveau #{index}", level_path(user_level.level) %>
      <% end %>
        <%= image_tag "Drapeau rouge.png", width: 120 , height: 120, class: "drapeau-position-#{index}" %>
      </div>
      <% end %>
    </div>
</div>
