// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//our colors:
$brown: #361A16;
$blue-green: #5C9E96;
$blue-green-darker: #497E77;
$golden: #F1C374;
$golden-darker: #DAB068;
$red-sand: #DA785B;
$lightyellow: #F6F3C8;
