// Specific CSS for your home-page

// image in cards with animated drop-shadow
.imgBgd > img {
  width: 260px;
  height: auto;
  animation: comete 3s infinite;
}

@keyframes comete {
  0% {
    filter: drop-shadow(0 0 5px $golden);
  }
  50% {
    filter: drop-shadow(0 0 10px $golden);
  }
  100% {
    filter: drop-shadow(0 0 5px $golden);
  }
}

// animated bottom keyframe
.animated{
  animation: ride 15s linear;
}

#lionboard{
  width: 120px;
  height: 120px;
  bottom: -40px;
  left: -80px;
  position: absolute;
}

@keyframes ride {
  0% {
    transform: translateX(0) scaleX(1);
  }
  50% {
    transform: translateX(calc(100vw + 160px)) scaleX(1);
  }
  51% {
    transform: translateX(calc(100vw + 160px)) scaleX(-1);
  }
  100% {
    transform: translateX(0) scaleX(-1);
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
