<!-- Button trigger modal -->
  <%# <button type="button" class="goldenBtn homeBtn" data-bs-toggle="modal" data-bs-target="#playModal">
    PLAY NOW!
  </button> %>

<!-- Modal -->
<div class="modal fade" id="playModal" tabindex="-1" aria-labelledby="playModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="playmodal-content">
      <div class="playmodal-body">
        <div class="d-flex flex-column align-middle justify-content-center">
          <h1>Félicitations</h1>
          <p>
            <i class="fa-solid fa-star playstar"></i><i class="fa-regular fa-star playstar"></i><i class="fa-regular fa-star playstar"></i>
          </p>
        <h2>Voici tes prouesses :<br>Temps de jeu : {chrono}<br> Tes gains : {monnaie du jeu} </h2>
        </div>
        <div class="playmodal-footer">
          <%= link_to "Réessayer", root_path, class:"modalBtn", id: "retryBtn" %>
          <%= link_to '`Niveau #{newlevel.id}`', "#", class:"modalBtn", id: "nxtBtn" %>
          <!-- ajouter <i class="fa-solid fa-play"></i> après le nextLevelNbr -->
        </div>
      </div>
      <%= cl_image_tag("codingo_images/Leo_e9vbxi", alt: "modal-avatar", crop: :thumb, width: 300, height: 600, id: "playmodal-avatar") %>
    </div>
  </div>
</div>
