<!-- Button trigger modal -->
  <%# <button type="button" class="goldenBtn homeBtn" data-bs-toggle="modal" data-bs-target="#playModal">
    PLAY NOW!
  </button> %>

<!-- Modal -->
<div class="modal fade" id="playModal" tabindex="-1" aria-labelledby="playModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Félicitations</h1>
        <h2>(boucle if en fonction du résultat)<br>Time score</h2>
        <div class="rating">
          <div class="d-flex flex-row justify-content-evenly animated-star">
            <i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to "Réessayer", root_path, class:"modalBtn", id: "retryBtn" %>
          <%= link_to '`Niveau #{newlevel.id}`', "#", class:"modalBtn", id: "nxtBtn" %>
          <!-- ajouter <i class="fa-solid fa-play"></i> après le nextLevelNbr -->
        </div>
      </div>
    </div>
  </div>
  <%= cl_image_tag("codingo_images/Leo_e9vbxi", alt: "modal-avatar", crop: :thumb, width: 800, height: 800, id: "modal-avatar") %>
</div>
