<div class="modal fade" id="TheoryModal" tabindex="-1" role="dialog" aria-labelledby="TheoryModalLabel" aria-hidden="true" data-answer-target="loose">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="TheoryModalLabel">Perdu</h5>
        <p>T'es vraiment trop nul, tes parents doivent avoir honte</p>
      </div>
      <div class="modal-footer">
        <%= link_to "Retour sur la carte", party_path(params[:party_id]), class:"modalBtn" %>
      </div>
    </div>
  </div>
</div>
