<div class="modal fade mt-5" id="playModal" tabindex="-1" aria-labelledby="playModal" aria-hidden="true" data-answer-target="loose">
  <div class="modal-dialog modal-lg">
    <div class="playmodal-content">
      <div class="playmodal-body">
        <div class="d-flex flex-column align-middle justify-content-center">
          <h1>Perdu</h1>
          <p>Même une machine doit faire des erreurs pour apprendre, qu'en est-il d'une personne ?</p>
        </div>
        <div class="playmodal-footer">
          <%= link_to "Réessayer", level_path(@level), class:"modalBtn", id: "retryBtn" %>
          <%= link_to 'Retour à la partie', party_path(current_user), class:"modalBtn", id: "nxtBtn" %>
          <!-- ajouter <i class="fa-solid fa-play"></i> après le nextLevelNbr -->
        </div>
      </div>
    <%= cl_image_tag(@character.photos[1].key, alt: "modal-avatar", crop: :thumb, height: 360, id: "playmodal-avatar") %>
    </div>
  </div>
</div>
