
<%# --Modal %>
 <div class="modal fade show" id="playModal" tabindex="-1" aria-labelledby="playModal" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="playmodal-content-negative">
      <div class="playmodal-body-negative">
        <div class="d-flex flex-column align-middle justify-content-center">
          <h1>Félicitations !</h1>
           <p>
            <i class="fa-solid fa-star negative-playstar"></i>
            <i class="fa-regular fa-star negative-playstar"></i>
            <i class="fa-regular fa-star negative-playstar"></i>
           </p>
          <h2>Voici tes prouesses : You are traaash !!!<br>Tes gains : {monnaie du jeu}<br> Monde 1 terminé </h2>
            <div class="playmodal-footer">
              <%=link_to "Réesayer", level_path(@level), class:"modalBtn", id:"retryBtn"%>
              <a class="modalBtn" id="nxtBtn" href="#">`Monde 2 #{new_world.id}`
              <i class="fa-solid fa-play"></i></a>
              <!-- ajouter <i class="fa-solid fa-play"></i> après le nextLevelNbr -->
            </div>
        </div>
      </div>
      <img alt="modal-avatar" width="300" height="600" id="playmodal-avatar" src="https://res.cloudinary.com/djp2y2hvl/image/upload/c_thumb,h_600,w_300/v1/codingo_images/Leo_e9vbxi?_a=BACCd2Bn">
    </div>
  </div>
 </div>
