<div class="modal fade mt-5" id="playModal" tabindex="-1" aria-labelledby="playModal" aria-hidden="true" data-answer-target="win">
  <div class="modal-dialog modal-lg">
    <div class="playmodal-content">
        <%= render "stars", locals: {stars: @stars, party: @party, level: @level} %>
    <%= cl_image_tag(@character.photos[1].key, alt: "modal-avatar", crop: :thumb, height: 360, id: "playmodal-avatar") %>
    </div>
  </div>
</div>
