<div class="modal fade" id="playModal" tabindex="-1" aria-labelledby="playModal" aria-hidden="true" data-answer-target="win">
  <div class="modal-dialog modal-lg">
    <div class="playmodal-content">
        <%= render "stars", locals: {stars: @stars, party: @party, level: @level} %>
    <%= cl_image_tag("codingo_images/Leo_e9vbxi", alt: "modal-avatar", crop: :thumb, width: 300, height: 600, id: "playmodal-avatar") %>
    </div>
  </div>
</div>
