<%# <div class="modal fade show d-block" id="TheoryModal" tabindex="-1" role="dialog" aria-labelledby="TheoryModalLabel" aria-hidden="true" data-controller="pop" data-pop-target="remove">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background: #F6F3C8; border: 10px solid #DA785B; height: 700px;">
        <h5 class="modal-title text-center" id="TheoryModalLabel">Félicitations</h5>
          <div class="modal-body m-5">
            <p>Tu peux faire des opérations simple .....</p> %>
<body class="modal-open" style="overflow: hidden; padding-right: 19px;">
<%# --Modal %>
 <div class="modal fade show" id="playModal" tabindex="-1" aria-labelledby="playModal" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="playmodal-content-negative">
      <div class="playmodal-body-negative">
        <div class="d-flex flex-column align-middle justify-content-center">
          <h1>Félicitations !</h1>
           <p>
            <i class="fa-solid fa-star playstar"></i>
            <i class="fa-regular fa-star playstar"></i>
            <i class="fa-regular fa-star playstar"></i>
           </p>
          <h2>Voici tes prouesses :<br>Tes gains : {monnaie du jeu}<br> Monde 1 terminé </h2>
            <div class="playmodal-footer">
              <a class="modalBtn" id="retryBtn" href="/">Réessayer</a>
              <a class="modalBtn" id="nxtBtn" href="#">`Monde 2 #{new_world.id}`</a>
              <!-- ajouter <i class="fa-solid fa-play"></i> après le nextLevelNbr -->
            </div>
        </div>
      </div>
      <img alt="modal-avatar" width="300" height="600" id="playmodal-avatar" src="https://res.cloudinary.com/djp2y2hvl/image/upload/c_thumb,h_600,w_300/v1/codingo_images/Leo_e9vbxi?_a=BACCd2Bn">
    </div>
  </div>
 </div>
</body>
