<div class="modal fade show d-block mt-5" id="TheoryModal" tabindex="-1" role="dialog" aria-labelledby="TheoryModalLabel" aria-hidden="true" data-controller="pop" data-pop-target="remove">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background: #F6F3C8; border: 10px solid #DA785B; height: 700px;">
        <h5 class="modal-title text-center" id="TheoryModalLabel"><%= @level.title %></h5>
          <div class="modal-body m-5">
            <%= @level.concept %>
          </div>
        <button type="button" class="modalBtn m-5" data-dismiss="modal" data-action="click->pop#disable">Passer à l'exercice</button>
    </div>
  </div>
</div>
