<div class="container">
  <iframe src="<%= @level.url %>" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

  <label for="answer">Que vois-tu s'afficher</label>
    <select name="réponse" id="answer">
      <option value="">Choisis la bonne réponse</option>
      <option value="dog">18</option>
      <option value="cat">4554</option>
      <option value="hamster">21</option>
      <option value="parrot">100</option>
    </select>
</div>
