// Variables //

$modal-btn-min-height: 40px;

// End variables //

.goldenBtn {
  background-color: #F1C374;
  position: absolute;
  top: calc(50% - 95px);
  left: calc(50% - 100px);
  box-shadow: 0 4px 8px rgba(54, 26, 22, 0.3);
  text-shadow: 3px 3px rgba(54, 26, 22, 0.5);
  font-size: 30px;
  color: white;
  border: none;
  z-index: 10;
}

.goldenBtn:hover {
  background-color: $golden-darker;
}

.modalBtn{
  background-color: $golden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(54, 26, 22, 0.3);
  // text-shadow: 1px 2px rgba(54, 26, 22, 0.5);
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  border: none;
  // Attention: la modale choisit désactive les pointer-events avec une propriété
  //            pointer-events: none;
  pointer-events: auto;

  &:hover{
    background-color: $golden-darker !important;
    color:white !important;
  }
}

.green {
  background-color: $blue-green;
  width: fit-content;
  height: fit-content;
  &:hover {
    background-color: $blue-green-darker;
  }
}

#partiesBtn {
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
}
.modalBtn, .goldenBtn {
  padding: 10px 24px;
  min-width: fit-content;
  min-height: fit-content;
  margin: 20px 0px;
  border-radius: 50vh;
}

#retryBtn{
  z-index: 10;
}
