.homeBtn{
  z-index: 10;
}

.goldenBtn {
  background-color: #F1C374;
  padding: 16px 36px;
  min-width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  position: absolute;
  top: 40vh;
  left: calc(50% - 100px);
  box-shadow: 0 4px 8px rgba(54, 26, 22, 0.3);
  text-shadow: 3px 3px rgba(54, 26, 22, 0.5);
  font-size: 1.8rem;
}

.goldenBtn:hover {
  background-color: #DAB068;
}

.modalBtn{
  background-color: #F1C374;
  padding: 16px 36px;
  min-width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(54, 26, 22, 0.3);
  // text-shadow: 1px 2px rgba(54, 26, 22, 0.5);
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  border: none;

  &:hover{
    background-color: #DAB068;
    color:white;
  }
}
