.card {
  margin-top: 40px;
  background-color: $golden;
  height: 400px;
  width: 350px;
  border-radius: 1.5rem;
  border: solid 0.5px $golden;
  z-index: 1;
}

.card-body {
  width: 350px;
  height: 100%;
}

.imgBgd {
  height: 40%;
  margin: 20px;
  background-color: $blue-green;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
}

// classement - index
.card-classement {
  padding: 20px;
  background-color: $blue-green;
  width: 40vw;
  height: 80vh;
  border-radius: 1.2rem;
  display:flex;
  // flex-direction: column;
  text-align: start;
  margin-top: 5vh;
}

.inside-card {
  background-color: $golden;
  padding: 20px;
  border-radius: 1.2rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.inside-card h2 {
  text-align: center;
}

.super-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}
.button-classement {
    color: $golden!important;
    border-radius: 50px!important;
    background: $blue-green!important;
  }

  .button-classement:hover {
    background: #2b4e49!important;
    color: $golden!important;
  }
