.card {
  margin-top: 40px;
  background-color: $golden;
  height: 400px;
  width: 350px;
  border-radius: 1.5rem;
  border: solid 0.5px $golden;
}

.card-body {
  width: 350px;
  height: 100%;
}

.imgBgd {
  height: 40%;
  margin: 20px;
  background-color: $blue-green;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
}
