.drapeau-position-1 {
  transform: translate(250%, 45%);
}

.drapeau-position-2 {
  transform: translate(310px, 200px);
}

.drapeau-position-3 {
  transform: translate(520px, 210px);
}

.drapeau-position-4 {
  transform: translate(760px, 10px);
}

.flag-div {
  width: 100%
}
