#homeheader {
  position: absolute;
  top: 60px;
  background-color: $blue-green;
  height: 50%;
  width: 100%;
}

//banner with logo Codingo

#custom-banner {
  position: absolute;
  margin-top: 200px;
  height: 500px;
  z-index: 9;
}

#leftPilar {
  position: relative;
  left: calc(50% - 50vw);
  top: -15vh;
  transform: scale(0.8);
}

#codingo {
  position: relative;
  top: -100px;
  transform: scale(1.60);
  }

#rightPilar {
  position: relative;
  right: calc(50% - 50vw);
  top: -15vh;
  transform: scale(0.8);
}
