.background {
  background-image: asset-url("Background.png");
  background-size: cover;
}

.body-character {
 background-color: #5C9E96!important;
 flex-direction: row !important;
 gap: 20px;
}

/* new modal */

.character-info{
  border-radius: 15px;
  background-color: #F1C374;
  width:50%;
  margin: 15px;
  height: 60vh;
}

.personnality{
  background-color: #5C9E96;
  color: $lightyellow;
  margin: 15px;
  border-radius: 15px;
  padding: 10px;
  font-size: 19px!important;
}
.character{
  border-radius: 15px;
  background-color: #F1C374;
  width:50%;
  height: 60vh;
}


.fix-footer{
  bottom: -8vh !important;
  position: absolute!important;
  display: flex!important;
  width: 100%!important;
  justify-content: center!important;
  gap: 8rem!important;
}

.name-character{
  font-family: Darumadrop one;
  font-size: 60px;
  text-align: center;
}
