.navbar-lewagon {
  justify-content: space-between;
  background: #5C9E96;
  max-height: 66px;
}

// Custom de la navbar pour la faire correspondre au figma
.red-background {
  background: $red-sand;
}
//

.nav-link{
  color: $lightyellow;
}

.nav-link:hover{
  color: $golden;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
// Custom temporaire de l'avatar
.codlogo {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: $golden;
  text-shadow: 3px 3px $red-sand;
  width: 40px;
  height: 40px;
  background: $blue-green;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid $golden 0.5px;
}
// -------------------------

// Custom du menu dropdown de la navbar
.custom {
  background: $golden;
  color: white;
  border-radius: 1rem;
}

.customhover {
  color: $brown;

  &:hover {
    background: $golden-darker;
    color: $lightyellow;
    border-radius: 50vh;
  }
}
// -------------------------
