.navbar-lewagon {
  justify-content: space-between;
  background: #5C9E96;
  max-height: 66px;
}

.nav-link{
  color: $lightyellow;
}

.nav-link:hover{
  color: $golden;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
