.navbar-lewagon {
  justify-content: space-between;
  background: #5C9E96;
  max-height: 66px;
}

// Custom de la navbar pour la faire correspondre au figma
.red-background {
  background: $red-sand;
}
//

.nav-link{
  color: $lightyellow;
}

.nav-link:hover{
  color: $golden;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// Custom de l'avatar
.navbar-lewagon .navbar-brand img {
  width: 60px;
}

// -------------------------

// Custom du menu dropdown de la navbar
.custom {
  background: $golden;
  color: white;
  border-radius: 1rem;
}

.customhover {
  color: $brown;

  &:hover {
    background: $golden-darker;
    color: $lightyellow;
    border-radius: 50vh;
  }
}
// -------------------------
