.playmodal-content{
  border-radius: 1.2rem;
  background: $blue-green;
  padding: 15px;
  color: $blue-green;
  width: 50vw;
  height: 80vh;
  transform-origin: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playmodal-body{
  background: $lightyellow;
  border-radius: 1.2rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  & h1{
    margin: 40px 0;
  }
}

.playmodal-body h2{
  margin-bottom: 40px;
  text-align: center;
}



.playmodal-footer{
  border-top: none !important;
  bottom: 5vh;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 8rem;
  margin-top: auto;
}

#playmodal-avatar{
  position: absolute;
  bottom: 25%;
  z-index: -1;
}
