#homeTitle{
  position: absolute;
  width: 100vw;
  height: 48px;
  top: 0;
  white-space: nowrap;

  & h2{
  color: $lightyellow;
  // // Nanum Pen
  // font-family: "Nanum Pen Script", cursive;
  // Darumadrop One
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  }
}
